USE [master]
GO
/****** Object:  Database [StoryTelling]    Script Date: 07-09-23 21:05:48 ******/
CREATE DATABASE [StoryTelling]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StoryTelling', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLINSTANCE2\MSSQL\DATA\StoryTelling.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StoryTelling_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLINSTANCE2\MSSQL\DATA\StoryTelling_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StoryTelling].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StoryTelling]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BasketItems]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasketItems](
	[basket_id] [nvarchar](450) NOT NULL,
	[IdStoryTelling] [int] NOT NULL,
 CONSTRAINT [PK_BasketItems] PRIMARY KEY CLUSTERED 
(
	[IdStoryTelling] ASC,
	[basket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bibliotheque]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bibliotheque](
	[IdLibrary] [nvarchar](450) NOT NULL,
	[Nom de Bibliotheque] [nvarchar](max) NOT NULL,
	[Proprietaire] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Bibliotheque] PRIMARY KEY CLUSTERED 
(
	[IdLibrary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Box d'Histoire]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Box d'Histoire](
	[IdBox] [int] IDENTITY(1,1) NOT NULL,
	[Dernier chapitre lu] [int] NOT NULL,
	[IdStoryTell] [int] NOT NULL,
	[IdLibrary] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Box d'Histoire] PRIMARY KEY CLUSTERED 
(
	[IdBox] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapitre]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapitre](
	[IdChapitre] [int] IDENTITY(1,1) NOT NULL,
	[Idimage] [int] NOT NULL,
	[Idstory] [int] NOT NULL,
	[IdstoryTelling] [int] NOT NULL,
	[order] [int] NOT NULL,
 CONSTRAINT [PK_Chapitre] PRIMARY KEY CLUSTERED 
(
	[IdChapitre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commentaire]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commentaire](
	[IdCommentaire] [int] IDENTITY(1,1) NOT NULL,
	[Proprietaire] [nvarchar](max) NOT NULL,
	[Signalement] [int] NOT NULL,
	[commentaire] [nvarchar](max) NOT NULL,
	[Zone de Commenataire] [int] NOT NULL,
	[Date de creation] [smalldatetime] NOT NULL,
	[Like] [int] NULL,
 CONSTRAINT [PK_Commentaire] PRIMARY KEY CLUSTERED 
(
	[IdCommentaire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forfait]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forfait](
	[IdForfait] [int] IDENTITY(1,1) NOT NULL,
	[nom de Forfait] [nvarchar](max) NOT NULL,
	[valeur de forfait] [float] NOT NULL,
	[Author] [bit] NOT NULL,
	[reduction forfait] [float] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Forfait] PRIMARY KEY CLUSTERED 
(
	[IdForfait] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forfait_User]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forfait_User](
	[user_id] [nvarchar](450) NOT NULL,
	[IdForfait] [int] NOT NULL,
 CONSTRAINT [PK_Forfait_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[IdForfait] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Histoire]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Histoire](
	[IdStoryTelling] [int] IDENTITY(1,1) NOT NULL,
	[image vignette] [nvarchar](max) NULL,
	[Nom Histoire] [nvarchar](max) NOT NULL,
	[Proprietaire] [nvarchar](450) NOT NULL,
	[Prix] [float] NOT NULL,
	[Resume] [nvarchar](max) NOT NULL,
	[Vendable] [bit] NOT NULL,
	[nombre de vente] [int] NOT NULL,
	[idTag] [int] NULL,
	[Date de creation de l'Histoire] [date] NOT NULL,
	[IdZone] [int] NOT NULL,
	[Popularite] [float] NULL,
 CONSTRAINT [PK_Histoire] PRIMARY KEY CLUSTERED 
(
	[IdStoryTelling] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idees]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idees](
	[IdIdee] [int] IDENTITY(1,1) NOT NULL,
	[Idea] [nvarchar](max) NOT NULL,
	[IdStoryTell] [int] NOT NULL,
 CONSTRAINT [PK_Idees] PRIMARY KEY CLUSTERED 
(
	[IdIdee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[IdImage] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Path] [nvarchar](max) NOT NULL,
	[uri] [nvarchar](max) NOT NULL,
	[Proprietaire] [nvarchar](450) NOT NULL,
	[IdTag] [int] NOT NULL,
	[Date de Creation] [date] NOT NULL,
	[Date de Modification] [date] NOT NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[IdImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notes]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notes](
	[user_id] [nvarchar](450) NOT NULL,
	[storyTellId] [int] NOT NULL,
	[note] [int] NOT NULL,
 CONSTRAINT [PK_Notes] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[storyTellId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[idNotification] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[date de notif] [date] NOT NULL,
	[target] [nvarchar](450) NOT NULL,
	[Lu] [bit] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[idNotification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Panier]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Panier](
	[basket_id] [nvarchar](450) NOT NULL,
	[Proprietaire] [nvarchar](450) NOT NULL,
	[Panier vide] [bit] NOT NULL,
 CONSTRAINT [PK_Panier] PRIMARY KEY CLUSTERED 
(
	[basket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Admin] [bit] NOT NULL,
	[Auth0IdReference] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Story]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Story](
	[IdStory] [int] IDENTITY(1,1) NOT NULL,
	[Chapitre] [nvarchar](max) NOT NULL,
	[Fond du Chapitre] [nvarchar](max) NOT NULL,
	[Date de Creation] [date] NOT NULL,
	[Date de Modification] [date] NOT NULL,
 CONSTRAINT [PK_Story] PRIMARY KEY CLUSTERED 
(
	[IdStory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[IdTag] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](max) NOT NULL,
	[Nombre de reference] [float] NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[IdTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[Nom du livre] [nvarchar](max) NOT NULL,
	[price] [float] NOT NULL,
	[Date de la transaction] [datetime2](7) NOT NULL,
	[IdStory] [int] NOT NULL,
	[user_id] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](15) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Region] [nvarchar](max) NOT NULL,
	[Birth Date] [date] NOT NULL,
	[phoneNumber] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Roles]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Roles](
	[user_id] [nvarchar](450) NOT NULL,
	[idRole] [int] NOT NULL,
 CONSTRAINT [PK_Users_Roles] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zone de Commentaire]    Script Date: 07-09-23 21:05:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zone de Commentaire](
	[IdZone] [int] IDENTITY(1,1) NOT NULL,
	[Actif] [bit] NOT NULL,
 CONSTRAINT [PK_Zone de Commentaire] PRIMARY KEY CLUSTERED 
(
	[IdZone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BasketItems_basket_id]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_BasketItems_basket_id] ON [dbo].[BasketItems]
(
	[basket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bibliotheque_Proprietaire]    Script Date: 07-09-23 21:05:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Bibliotheque_Proprietaire] ON [dbo].[Bibliotheque]
(
	[Proprietaire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Box d'Histoire_IdLibrary]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Box d'Histoire_IdLibrary] ON [dbo].[Box d'Histoire]
(
	[IdLibrary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Box d'Histoire_IdStoryTell]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Box d'Histoire_IdStoryTell] ON [dbo].[Box d'Histoire]
(
	[IdStoryTell] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chapitre_Idimage]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Chapitre_Idimage] ON [dbo].[Chapitre]
(
	[Idimage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chapitre_Idstory]    Script Date: 07-09-23 21:05:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Chapitre_Idstory] ON [dbo].[Chapitre]
(
	[Idstory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Chapitre_IdstoryTelling]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Chapitre_IdstoryTelling] ON [dbo].[Chapitre]
(
	[IdstoryTelling] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Commentaire_Zone de Commenataire]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Commentaire_Zone de Commenataire] ON [dbo].[Commentaire]
(
	[Zone de Commenataire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Forfait_RoleId]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Forfait_RoleId] ON [dbo].[Forfait]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Forfait_User_IdForfait]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Forfait_User_IdForfait] ON [dbo].[Forfait_User]
(
	[IdForfait] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Histoire_idTag]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Histoire_idTag] ON [dbo].[Histoire]
(
	[idTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Histoire_IdZone]    Script Date: 07-09-23 21:05:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Histoire_IdZone] ON [dbo].[Histoire]
(
	[IdZone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Histoire_Proprietaire]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Histoire_Proprietaire] ON [dbo].[Histoire]
(
	[Proprietaire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Idees_IdStoryTell]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Idees_IdStoryTell] ON [dbo].[Idees]
(
	[IdStoryTell] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Image_IdTag]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Image_IdTag] ON [dbo].[Image]
(
	[IdTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Image_Proprietaire]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Image_Proprietaire] ON [dbo].[Image]
(
	[Proprietaire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notes_storyTellId]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Notes_storyTellId] ON [dbo].[Notes]
(
	[storyTellId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notification_target]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_target] ON [dbo].[Notification]
(
	[target] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Panier_Proprietaire]    Script Date: 07-09-23 21:05:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Panier_Proprietaire] ON [dbo].[Panier]
(
	[Proprietaire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_IdStory]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_IdStory] ON [dbo].[Transactions]
(
	[IdStory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Transactions_user_id]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_user_id] ON [dbo].[Transactions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_Roles_idRole]    Script Date: 07-09-23 21:05:48 ******/
CREATE NONCLUSTERED INDEX [IX_Users_Roles_idRole] ON [dbo].[Users_Roles]
(
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Commentaire] ADD  DEFAULT ((0)) FOR [Signalement]
GO
ALTER TABLE [dbo].[Commentaire] ADD  DEFAULT ((0)) FOR [Like]
GO
ALTER TABLE [dbo].[Forfait] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [reduction forfait]
GO
ALTER TABLE [dbo].[Histoire] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Vendable]
GO
ALTER TABLE [dbo].[Histoire] ADD  DEFAULT ((0)) FOR [nombre de vente]
GO
ALTER TABLE [dbo].[Notes] ADD  DEFAULT ((0)) FOR [note]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Lu]
GO
ALTER TABLE [dbo].[Panier] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Panier vide]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Admin]
GO
ALTER TABLE [dbo].[Tag] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Nombre de reference]
GO
ALTER TABLE [dbo].[Zone de Commentaire] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Actif]
GO
ALTER TABLE [dbo].[BasketItems]  WITH CHECK ADD  CONSTRAINT [FK_BasketItems_Histoire_IdStoryTelling] FOREIGN KEY([IdStoryTelling])
REFERENCES [dbo].[Histoire] ([IdStoryTelling])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BasketItems] CHECK CONSTRAINT [FK_BasketItems_Histoire_IdStoryTelling]
GO
ALTER TABLE [dbo].[BasketItems]  WITH CHECK ADD  CONSTRAINT [FK_BasketItems_Panier_basket_id] FOREIGN KEY([basket_id])
REFERENCES [dbo].[Panier] ([basket_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BasketItems] CHECK CONSTRAINT [FK_BasketItems_Panier_basket_id]
GO
ALTER TABLE [dbo].[Bibliotheque]  WITH CHECK ADD  CONSTRAINT [FK_Bibliotheque_User_Proprietaire] FOREIGN KEY([Proprietaire])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Bibliotheque] CHECK CONSTRAINT [FK_Bibliotheque_User_Proprietaire]
GO
ALTER TABLE [dbo].[Box d'Histoire]  WITH CHECK ADD  CONSTRAINT [FK_Box d'Histoire_Histoire_IdStoryTell] FOREIGN KEY([IdStoryTell])
REFERENCES [dbo].[Histoire] ([IdStoryTelling])
GO
ALTER TABLE [dbo].[Box d'Histoire] CHECK CONSTRAINT [FK_Box d'Histoire_Histoire_IdStoryTell]
GO
ALTER TABLE [dbo].[Box d'Histoire]  WITH CHECK ADD  CONSTRAINT [Library_ref] FOREIGN KEY([IdLibrary])
REFERENCES [dbo].[Bibliotheque] ([IdLibrary])
GO
ALTER TABLE [dbo].[Box d'Histoire] CHECK CONSTRAINT [Library_ref]
GO
ALTER TABLE [dbo].[Chapitre]  WITH CHECK ADD  CONSTRAINT [Histoire_FK] FOREIGN KEY([IdstoryTelling])
REFERENCES [dbo].[Histoire] ([IdStoryTelling])
GO
ALTER TABLE [dbo].[Chapitre] CHECK CONSTRAINT [Histoire_FK]
GO
ALTER TABLE [dbo].[Chapitre]  WITH CHECK ADD  CONSTRAINT [Image_FK] FOREIGN KEY([Idimage])
REFERENCES [dbo].[Image] ([IdImage])
GO
ALTER TABLE [dbo].[Chapitre] CHECK CONSTRAINT [Image_FK]
GO
ALTER TABLE [dbo].[Chapitre]  WITH CHECK ADD  CONSTRAINT [Story_FK] FOREIGN KEY([Idstory])
REFERENCES [dbo].[Story] ([IdStory])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Chapitre] CHECK CONSTRAINT [Story_FK]
GO
ALTER TABLE [dbo].[Commentaire]  WITH CHECK ADD  CONSTRAINT [Zone Comm] FOREIGN KEY([Zone de Commenataire])
REFERENCES [dbo].[Zone de Commentaire] ([IdZone])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Commentaire] CHECK CONSTRAINT [Zone Comm]
GO
ALTER TABLE [dbo].[Forfait]  WITH CHECK ADD  CONSTRAINT [FK_Forfait_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([IdRole])
GO
ALTER TABLE [dbo].[Forfait] CHECK CONSTRAINT [FK_Forfait_Roles_RoleId]
GO
ALTER TABLE [dbo].[Forfait_User]  WITH CHECK ADD  CONSTRAINT [FK_Forfait_User_Forfait_IdForfait] FOREIGN KEY([IdForfait])
REFERENCES [dbo].[Forfait] ([IdForfait])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Forfait_User] CHECK CONSTRAINT [FK_Forfait_User_Forfait_IdForfait]
GO
ALTER TABLE [dbo].[Forfait_User]  WITH CHECK ADD  CONSTRAINT [FK_Forfait_User_User_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Forfait_User] CHECK CONSTRAINT [FK_Forfait_User_User_user_id]
GO
ALTER TABLE [dbo].[Histoire]  WITH CHECK ADD  CONSTRAINT [FK_Histoire_Tag_idTag] FOREIGN KEY([idTag])
REFERENCES [dbo].[Tag] ([IdTag])
GO
ALTER TABLE [dbo].[Histoire] CHECK CONSTRAINT [FK_Histoire_Tag_idTag]
GO
ALTER TABLE [dbo].[Histoire]  WITH CHECK ADD  CONSTRAINT [FK_Histoire_User_Proprietaire] FOREIGN KEY([Proprietaire])
REFERENCES [dbo].[User] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Histoire] CHECK CONSTRAINT [FK_Histoire_User_Proprietaire]
GO
ALTER TABLE [dbo].[Histoire]  WITH CHECK ADD  CONSTRAINT [FK_Histoire_Zone de Commentaire_IdZone] FOREIGN KEY([IdZone])
REFERENCES [dbo].[Zone de Commentaire] ([IdZone])
GO
ALTER TABLE [dbo].[Histoire] CHECK CONSTRAINT [FK_Histoire_Zone de Commentaire_IdZone]
GO
ALTER TABLE [dbo].[Idees]  WITH CHECK ADD  CONSTRAINT [History_FK] FOREIGN KEY([IdStoryTell])
REFERENCES [dbo].[Histoire] ([IdStoryTelling])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Idees] CHECK CONSTRAINT [History_FK]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_User_Proprietaire] FOREIGN KEY([Proprietaire])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_User_Proprietaire]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [Tag_FK] FOREIGN KEY([IdTag])
REFERENCES [dbo].[Tag] ([IdTag])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [Tag_FK]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK_Notes_Histoire_storyTellId] FOREIGN KEY([storyTellId])
REFERENCES [dbo].[Histoire] ([IdStoryTelling])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK_Notes_Histoire_storyTellId]
GO
ALTER TABLE [dbo].[Notes]  WITH CHECK ADD  CONSTRAINT [FK_Notes_User_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Notes] CHECK CONSTRAINT [FK_Notes_User_user_id]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User_target] FOREIGN KEY([target])
REFERENCES [dbo].[User] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User_target]
GO
ALTER TABLE [dbo].[Panier]  WITH CHECK ADD  CONSTRAINT [FK_Panier_User_Proprietaire] FOREIGN KEY([Proprietaire])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Panier] CHECK CONSTRAINT [FK_Panier_User_Proprietaire]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Histoire_IdStory] FOREIGN KEY([IdStory])
REFERENCES [dbo].[Histoire] ([IdStoryTelling])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Histoire_IdStory]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_User_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_User_user_id]
GO
ALTER TABLE [dbo].[Users_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_Roles_idRole] FOREIGN KEY([idRole])
REFERENCES [dbo].[Roles] ([IdRole])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users_Roles] CHECK CONSTRAINT [FK_Users_Roles_Roles_idRole]
GO
ALTER TABLE [dbo].[Users_Roles]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_User_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users_Roles] CHECK CONSTRAINT [FK_Users_Roles_User_user_id]
GO
USE [master]
GO
