
<div class="Body">
<div class="container">
    <div class="box">
      <img src="../../../../assets/images/Journey_tall_game.png">
      <span class="textBox">
        First, what I aimed was to create something anyone can use, then toughts after toughts, actions after actions, <br>
        it became more specific.<br>
        There were a lot of constraint to take in account to make my journey advance further each time, <br>it took inspiration motivation and dedication
        to move forward and get the result we got.
    </span>
      <span><h3><strong>How it began...</strong></h3></span>
    </div>
    <div class="box">
      <img src="../../../../assets/images/Journey_tall_game.png">
      <span class="textBox"> 
        the result is kinda different from what I imagined in the first place, it is very intriging how the end can be shaped <br>
        by how it went during the journey... like in any story I suppose.<br><br>
        I tried to offer the best experience any story teller would like to try, of course it take more than an image and a text to make a <strong>Story</strong>.<br>
        it is where your role take meaning, you are the missing part, the mind that will create visual experiences from fiction,
        personnal experiences, toughts or feelings.<br>
        this same mind that will make all the others feel things they may never have or <br>remind them of those feelings and ... 
        who knows it may mark them more than wa can predict.</span>
      <span><h3><strong>What we got...</strong></h3></span>
    </div>
    <div class="box">
      <img src="../../../../assets/images/Journey_tall_game.png">
      <span class="textBox">
        this has meaning as long as someone want to write a story, it can be any story personnal, from fantasy, or sci fi, <br>
        you are free to tell any story your mind can imagine.<br>
        what you want to show to the community is up to you, but you know that you can also look at ohters work and stories <br>
        it may be inspiring to you and offer you others prospect that might lead to extraordinary stories.<br><br>
        also do not stress yourself because of blanck page it happens to the best, all you can do is wait, be patient <br>
        and also try to look at ohters works it might triggers something but <strong> no copy please</strong>
      </span>
      <span><h3><strong>What we want...</strong></h3></span>
    </div>
    <div class="box">
      <img src="../../../../assets/images/Journey_tall_game.png">
      <span class="textBox">
        We hope that this experience will give significant value to story writers as to readers, <br>at least as much as it gave to me.
        Now lets stop the talk and let your mind get a grip of his tools and let him do what he does best...
      </span>
      <span><h3><strong>Now let the story begin</strong></h3></span>
    </div>
  </div>
</div>

















