<header>
    <!-- header inner -->
    <div class="header_bg">
       <div class="header">
          <div class="container">
             <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                   <div class="full">
                      <div class="center-desk">
                      </div>
                   </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                </div>
             </div>
          </div>
       </div>
       <!-- end header inner -->
       <!-- end header -->
       <!-- banner -->
       <section class="banner_main">
          <div class="container-fluid">
             <div class="row d_flex">
                <div class="col-md-6">
                   <div class="text-bg">
                      <span>Qui somme nous ?</span>
                      <h1>Un simple etudiant</h1>
                      <p>Je suis etudiant en dernière année d'informatique de gestion et je suis aussi passionné de programmation.
                        <br>
                        j'explore de differents horizons avec differentes technologies, 
                        notamment Angular dont c'est la première fois qu j'en fais l'utilisation dans un projet aussi important et concret.
               
                      </p>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="text-img">
                      <figure><img class="rounded-circle" src="../../../../assets/images/creative-book-art.jpg" ></figure>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </header>
 <!-- end banner -->