
<section class="background vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center h-100">
          <div class="col-4" *ngFor="let item of resultForfaits">
            <div class="card mt-4" style="width: 18rem;">
        <img src="https://img.freepik.com/free-vector/abstract-colourful-background-kaleidoscope-effect_23-2148460308.jpg?w=2000" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">{{item.forfaitLibelle}}</h3>
          <p class="card-text">Prix : {{item.forfaitValue}}</p>
          <p class="card-text">Reduction : {{item.reduction}}</p>
             <a *ngIf="isAllowToBuy(item.idForfait)"  routerLink="/Private/{{CurrentUser$}}/User-lambda/Forfait-achat/{{item.idForfait}}" class="btn mr-2"><i class="fa-solid fa-eye"></i>Acheter</a>
        </div>
          </div>      
      </div>
        </div>
        </div>
    </section>