<div class="otherConfig">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- Container wrapper -->
      <div class="container-fluid ">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
    
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0" routerLink="/Public/project">
            <img
              src="assets/logo/feather-svgrepo-com.svg"
              height="45"
              alt="feather Logo"
              loading="lazy"
            />
          </a>
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="Public/modus-operandi" routerLinkActive="Active">So I want to Begin...</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Public/project" routerLinkActive="Active">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Public/about-us" routerLinkActive="Active">About Us</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" routerLink="Public/contact" routerLinkActive="Active">Contact</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" routerLink="Public/forfait/{{username}}" routerLinkActive="Active" *ngIf="(auth.getStateConnection()|async)">Forfait</a>
            </li>

            <li  class="nav-item" *ngIf="isUserLambda()">
              <div class="dropdown">
                <a
                class="btn dropdown-toggle"
                role="button"
                id="UserMenuFeaturesList"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              User Lambda
              </a>
                <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdownFeatures"
                >
                  <li>
                    <a class="dropdown-item linkConf"  routerLink="Private/{{username}}/User-lambda/Library" routerLinkActive="Active">Library</a>
                  </li>
                  <li>
                    <a class="dropdown-item linkConf" routerLink="Private/{{username}}/User-lambda/Store-Librairie" routerLinkActive="Active" >Store</a>
                  </li> 
                  <li>
                    <a class="dropdown-item linkConf" routerLink="Private/{{username}}/User-lambda/Transactions-liste" routerLinkActive="Active" >Transactions</a>
                  </li>     
                  <li>
                    <a class="dropdown-item linkConf" routerLink="Private/{{username}}/User-lambda/Forfait-acheté" routerLinkActive="Active" >Forfaits</a>
                  </li>     
                </ul>
              </div>
            </li>


                  <li class="nav-item" *ngIf="isAuthor()">
              <div class="dropdown">
                <a
                class="btn dropdown-toggle"
                role="button"
                id="UserMenuFeaturesList"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              Author
              </a>
                <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdownFeatures"
                >
                  <li>
                    <a class="dropdown-item linkConf"  routerLink="Private/{{username}}/Author/Histoires" routerLinkActive="Active">Histoires</a>
                  </li>
                  <li>
                    <a class="dropdown-item linkConf" routerLink="Private/{{username}}/Author/Images-librairie" routerLinkActive="Active" >Images librairie</a>
                  </li>        
                </ul>
              </div>
            </li>

            <li class="nav-item" *ngIf="isAdmin()">
             <!--  <a class="nav-link" routerLink="Private/Admin" routerLinkActive="true">Admin</a>         -->   
             
             <div class="dropdown">
              <a
              class="btn dropdown-toggle"
              role="button"
              id="UserMenuFeaturesList"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Admin
            </a>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownFeatures"
              >
                <li>
                  <a class="dropdown-item linkConf"  routerLink="Private/{{username}}/Admin/Users-liste" routerLinkActive="Active">Users</a>
                </li>      
                <li>
                  <a class="dropdown-item linkConf"  routerLink="Private/{{username}}/Admin/Tags" routerLinkActive="Active">Tags</a>
                </li>    
                <li>
                  <a class="dropdown-item linkConf"  routerLink="Private/{{username}}/Admin/Commentaires" routerLinkActive="Active">Commentaires</a>
                </li>    
                <li>
                  <a class="dropdown-item linkConf"  routerLink="Private/{{username}}/Admin/Forfaits" routerLinkActive="Active">Forfaits</a>
                </li>      
              </ul>
            </div><!--pas oublier la secutrité-->
            </li>
          </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
    
        <!-- Right elements -->
        <div class="d-flex align-items-center">
          
          <!-- Notifications -->
          <div class="dropdown" *ngIf="(auth.getStateConnection() |async)===true">
            <span
            class="dropdown-toggle mx-4" 
            role="button" 
            id="dropdownMenuLink" 
            data-bs-toggle="dropdown" 
            aria-expanded="false"
            >
            <img
            src="assets/logo/bell-svgrepo-com.svg"
            height="38"
            alt="bell Logo"
            loading="lazy"
          />
          <span *ngIf="(countNotif|async)==0" class="badge rounded-pill badge-notification bg-danger px-1"></span>
          <span  *ngIf="(countNotif|async)!>0"class="badge rounded-pill badge-notification bg-danger px-1">{{(countNotif|async)}}</span>
          </span>
            <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
          <li *ngIf="!(countNotif|async)">
            <span class="dropdown-item linkConf">No Notifications</span>
          </li>
          <li  *ngFor="let item of resultNotif.items" (click)="readNotif(item.idNotification)" >
            <span class="dropdown-item linkConf text-left">
              <h3 class=" text-uppercase font-weight-bold p-1">{{item.title}}</h3>
              <p class="text-center font-weight-light p-1"><b>{{item.message}}</b></p>
              <h6 class="d-flex justify-content-end  font-italic p-1">{{common.timeFormat(item.created)}}</h6>
            </span>
          </li>
          <div *ngIf="(countNotif|async)!>5" class="d-flex justify-content-between">
            <span (click)="changePage(-1)"  *ngIf="resultNotif.pageNumber>1">
            <fa-icon class="btn" [icon]="faArrowLeft"></fa-icon>
          </span>
          <span (click)="changePage(1)" *ngIf="resultNotif.pageNumber>resultNotif.totalPages">
            <fa-icon class="btn" [icon]="faArrowRight"></fa-icon>
          </span>
        </div>
          </ul>
          </div>

          <!--Basket-->
          <div *ngIf="(auth.getStateConnection() |async)===true">
          <a
          class="text-reset me-3 dropdown-toggle hidden-arrow"
          routerLink="Private/{{username}}/User-lambda/Transaction-process"
          routerLinkActive="Active"
          id="navbarDropdownMenuLink"
          role="button"
          aria-expanded="false"
        >
        <img
        src="assets/logo/basket-color-svgrepo-com.svg"
        height="38"
        alt="bell Logo"
        loading="lazy"
      />
        <span *ngIf="(countBasket|async)==0" class="badge rounded-pill badge-notification bg-danger px-1"></span>
        <span  *ngIf="(countBasket|async)!>0"class="badge rounded-pill badge-notification bg-danger px-1">{{(countBasket|async)}}</span>
        </a>

          </div>
          <!-- Avatar -->
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <img
              src="assets/logo/key-svgrepo-com.svg"
              class="rounded-circle"
              height="40"
              alt="key"
              loading="lazy"
            />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuAvatar"
            >
              <li *ngIf="(auth.getStateConnection() |async)===false">
                <a class="dropdown-item linkConf"  (click)="login()" routerLinkActive="Active">Sign In</a>
              </li>
              <li  *ngIf="(auth.getStateConnection() |async)===true">
                <a class="dropdown-item linkConf" (click)="logout()" routerLinkActive="Active">Logout</a>
              </li>
              <li *ngIf="(auth.getStateConnection() |async)===false">
                <a routerLink="Public/Signup" class="dropdown-item linkConf" >Sign Up</a>
              </li>
              <li *ngIf="(auth.getStateConnection() |async)===true">
                <a routerLink="Private/{{username}}/User-info" class="dropdown-item linkConf" >Account</a>
              </li>
    
            </ul>
          </div>
        </div>
        <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    </div>
