<div class="otherConfig">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- Container wrapper -->
      <div class="container-fluid ">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
    
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0" routerLink="/Public/project">
            <img
              src="assets/logo/feather-svgrepo-com.svg"
              height="45"
              alt="feather Logo"
              loading="lazy"
            />
          </a>
          <!-- Left links -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="Public/modus-operandi" routerLinkActive="Active">So I want to Begin...</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Public/project" routerLinkActive="Active">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="Public/about-us" routerLinkActive="Active">About Us</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" routerLink="Public/contact" routerLinkActive="Active">Contact</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" routerLink="Public/forfait/{{user_id}}" routerLinkActive="Active" *ngIf="(auth.getStateConnection()|async)">Forfait</a>
            </li>

            <li  class="nav-item" *ngIf="isUserLambda()">
              <div class="dropdown">
                <a
                class="btn dropdown-toggle"
                role="button"
                id="UserMenuFeaturesList"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              User Lambda
              </a>
                <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdownFeatures"
                >
                  <li>
                    <a class="dropdown-item linkConf"  routerLink="Private/{{user_id}}/User-lambda/Library" routerLinkActive="Active">Library</a>
                  </li>
                  <li>
                    <a class="dropdown-item linkConf" routerLink="Private/{{user_id}}/User-lambda/Store-Librairie" routerLinkActive="Active" >Store</a>
                  </li> 
                  <li>
                    <a class="dropdown-item linkConf" routerLink="Private/{{user_id}}/User-lambda/Transactions-liste" routerLinkActive="Active" >Transactions</a>
                  </li>     
                  <li>
                    <a class="dropdown-item linkConf" routerLink="Private/{{user_id}}/User-lambda/Forfait-acheté" routerLinkActive="Active" >Forfaits</a>
                  </li>     
                </ul>
              </div>
            </li>


                  <li class="nav-item" *ngIf="isAuthor()">
              <div class="dropdown">
                <a
                class="btn dropdown-toggle"
                role="button"
                id="UserMenuFeaturesList"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              Author
              </a>
                <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdownFeatures"
                >
                  <li>
                    <a class="dropdown-item linkConf"  routerLink="Private/{{user_id}}/Author/Histoires" routerLinkActive="Active">Histoires</a>
                  </li>
                  <li>
                    <a class="dropdown-item linkConf" routerLink="Private/{{user_id}}/Author/Images-librairie" routerLinkActive="Active" >Images librairie</a>
                  </li>        
                </ul>
              </div>
            </li>

            <li class="nav-item" *ngIf="isAdmin()">
             <!--  <a class="nav-link" routerLink="Private/Admin" routerLinkActive="true">Admin</a>         -->   
             
             <div class="dropdown">
              <a
              class="btn dropdown-toggle"
              role="button"
              id="UserMenuFeaturesList"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Admin
            </a>
              <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownFeatures"
              >
                <li>
                  <a class="dropdown-item linkConf"  routerLink="Private/{{user_id}}/Admin/Users-liste" routerLinkActive="Active">Users</a>
                </li>      
                <li>
                  <a class="dropdown-item linkConf"  routerLink="Private/{{user_id}}/Admin/Tags" routerLinkActive="Active">Tags</a>
                </li>    
                <li>
                  <a class="dropdown-item linkConf"  routerLink="Private/{{user_id}}/Admin/Commentaires" routerLinkActive="Active">Commentaires</a>
                </li>    
                <li>
                  <a class="dropdown-item linkConf"  routerLink="Private/{{user_id}}/Admin/Forfaits" routerLinkActive="Active">Forfaits</a>
                </li>      
              </ul>
            </div><!--pas oublier la secutrité-->
            </li>
          </ul>
          <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->
    
        <!-- Right elements -->
        <div class="d-flex align-items-center">
    
          <!-- Notifications -->
          <div class="dropdown">
            <a
              class="text-reset me-3 dropdown-toggle hidden-arrow"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
            <img
            src="assets/logo/bell-svgrepo-com.svg"
            height="38"
            alt="bell Logo"
            loading="lazy"
          />
            <span class="badge rounded-pill badge-notification bg-danger px-1">1</span>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">Some news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </div>
          <!-- Avatar -->
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <img
              src="assets/logo/key-svgrepo-com.svg"
              class="rounded-circle"
              height="40"
              alt="key"
              loading="lazy"
            />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuAvatar"
            >
              <li *ngIf="(auth.getStateConnection() |async)===false">
                <a class="dropdown-item linkConf"  (click)="login()" routerLinkActive="Active">Sign In</a>
              </li>
              <li  *ngIf="(auth.getStateConnection() |async)===true">
                <a class="dropdown-item linkConf" (click)="logout()" routerLinkActive="Active">Logout</a>
              </li>
              <li>
                <a routerLink="Public/Signup" class="dropdown-item linkConf" href="#">Sign Up</a>
              </li>
    
            </ul>
          </div>
        </div>
        <!-- Right elements -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    </div>
