<section class="Body vh-100">

<div class="container col-md-10 py-4 d-flex justify-content-center aligns-item-center">
    <section class="glass">
        <div class="Board">
            <div >
                <h1>How to use our App</h1>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="card_info">
                        <h2>Story Creation</h2>
                        <p>Well to begin you need to create a Story,<br> 
                            it will allow you to have the beginning ground to elaborate your ideas and create chapters
                            and also write commentaries</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card_info">
                        <h2>Chapter Creation</h2>
                        <p>Then you create a chapter, A chapter is composed with an image and a story,<br>
                             you pick an image in your gallery and write something that goes with it</p>

                    </div>
                </div>
                <div class="card">
                    <div class="card_info">
                        <h2>Image Creation</h2>
                        <p>This part is the most interesting one for me, picking the images that will go to your gallery,<br>
                            you can either pick one yourself with url you found in the web or an image delivered by our app's gallery</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="circle1"></div>
<div class="circle2"></div>
</div>
</section>