


.background{
    overflow: hidden;
    background: rgb(255,64,0);
    background: linear-gradient(205deg, rgba(255,64,0,0.9079832616640406) 15%, rgba(125,43,223,0.8883754185267857) 42%, rgba(255,52,110,0.9696079115239846) 86%);

}
.title-display{
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: larger;
  font-style: italic;
}
   *,
   *::before,
   *::after {
    box-sizing: border-box;
   }
   
   .book {
/*         //openright
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    //openright */
    --url:url("../../../../assets/images/Question_Mark.jpg");
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 20px;
    background: white;
    padding: 0;
    margin: 0;
    border: none;
    transform-style: preserve-3d;
    transition: all 0.5s ease-out;
    color: transparent;
   }
   
   .book .text {
    overflow: hidden;
    width: 200px;
    height: 160px;
    padding: 0 15px 20px 15px;
    text-align: justify;
    line-height: 1.2em;
   }
   
   .book .text h1,
   .book .text h2 {
    text-align: center;
   }
   
   .book::before {
    content: "";
    top: 0;
    display: block;
    position: absolute;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    background: #6d3acc;
    box-shadow: 50px 0 10px 0 inset #3a245e;
    transition: all 0.5s ease-out;
    transform-origin: 0 50%;
   }
   
   .book::after {
    content: "";
    display: block;
    position: absolute;
    width: 200px;
    height: 100px;
    border: 15px solid #3a245e;
    border-right: 10px solid black;
    border-top: none;
    border-radius: 30px/50%;
    background: repeating-linear-gradient(
     to bottom,
     white 0,
     white 2px,
     #bdc3c7 2px,
     #bdc3c7 4px,
     white 4px
    );
    top: 140px;
    z-index: -1;
    opacity: 0;
    animation: closed 0.5s ease-out forwards;
   }
   
   @keyframes closed {
    70% {
     opacity: 0;
    }
    100% {
     opacity: 1;
    }
   }
   
   .book.open {
    height: 240px;
    border-bottom: 5px solid #3a245e;
    border-right: 5px solid #6d3acc;
    border-top: 5px solid #6d3acc;
    border-radius: 0;
    color: black;
    
   }
   
   .book.open::before {
    transform: rotatey(-160deg) translatex(-20px);
  background-color: #e7e7e7;
    box-shadow: 20px 0 10px 0 inset rgb(167, 166, 166);
    height: 235px;
    border-bottom: 5px solid #3a245e;
    border-right: 5px solid #3a245e;;
    border-top: 5px solid #6d3acc;
    border-radius: 0;
    background-image:var(--url);
    background-repeat: no-repeat;//ici pour mettre l'image
    background-position: center;
    background-size:80%;
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 85px;
/*     //openright
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
//openright */

   }
   
   @keyframes opened {
    70% {
      
     opacity: 0;
     transition: all 1s ease-in-out;
    }
    100% {
      
     opacity: 1;
     border: none;
     height: 40px;
     width: 360px;
     border-radius: 0;
     transform: rotatex(60deg) translatey(120px) translatex(-165px);
     background: linear-gradient(
       to right,
       transparent 46%,
       #bdc3c7 47px,
       #bdc3c7 48px,
       transparent 49%
      ),
      repeating-linear-gradient(
       to bottom,
       rgb(77, 17, 17) 0,
       white 2px,
       #bdc3c7 2px,
       #bdc3c7 4px,
       white 4px
      );
      
    }
    
   }
   
   .book.open::after {
    animation: opened 0.5s ease-out forwards;
    
   }
   
   .book.expanded {
    height: 80vh;// ici pour la page ouverte
    width: 30vw;
    transform: translateX(45%);
/*     //openright
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
//openright */

   }
   
   .book.expanded::before {
    height: 80vh;
    width: 30vw;
    font-size: 3.5em;
    padding-top: 40vh;
    overflow: hidden;
   }
   
   .book.expanded::after {
    animation: none;
    overflow: hidden;
   }
   
   .book.expanded .text {
/*     //openright
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
//openright */
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-y: scroll;
    width: 30vw;
    height: 75vh;
    padding: 0 30px 20px 30px;
    text-align: left;
    line-height: 1.7em;
    font-size: 1.5em;
   }

   .book.expanded .text h1,
   .book.expanded .text h2 {
    margin-top: 2em;
   }
 

   //------------------------------------SIDEBAR--------------------------
   .alignment{
    padding: 0;
    width: 20%;
    position: absolute;
    left: -20%;
    background-color: #5f7cdd;
    height: 100%;
    a{
      cursor: pointer;
    }
    display: flex;
    flex-direction: column;
    align-items: baseline;
    
   }

  
   .hidden{
    opacity: 0;
    transform: translateX(-100%);
    transition:  all ease-in-out 1s;
    //display: none;
   }

   .appearance{
    opacity: 1;
    transform: translateX(100%);
    transition:  all ease-in-out 1s;
   }

   .disable{
    opacity: 0;
    transition:  all ease-in-out 1s;

   }

   .filter{
    background-color: #546ec2;
    height: 4%;
    width: 3%
   }
  

   /* Please ❤ this if you like it! */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.sec-center {
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 200;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 20000;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  cursor: pointer;
  transition: all 200ms linear;
  box-shadow: 0 0 25px rgba(255,235,167,.45);
}
.dark-light:checked + label{
  transform: rotate(360deg);
}
.dark-light:checked + label:after,
.dark-light:not(:checked) + label:after{
  position: absolute;
  content: '';
  top: 1px;
  left: 1px;
  overflow: hidden;
  z-index: 2;
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #102770;
  background-image: url('https://assets.codepen.io/1462889/moon.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked + label:after {
  opacity: 1;
}
.dark-light:checked + label:before,
.dark-light:not(:checked) + label:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-color: #48dbfb;
  background-image: url('https://assets.codepen.io/1462889/sun.svg');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
}
.dark-light:checked + label:before{
  background-color: #000;
}
.light-back{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  height: 100%;
  width: 100%;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked ~ .light-back{
  opacity: 1;
}
.dropdown:checked + label,
.dropdown:not(:checked) + label{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 220px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  cursor: pointer;
  color: #102770;
  box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
}
.dark-light:checked ~ .sec-center .for-dropdown{
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
}
.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}
.dropdown:checked + label:before{
  pointer-events: auto;
}
.dropdown:not(:checked) + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 70px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown {
  background-color: #fff;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.15);
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
}
.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 30px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown:after {
  border-bottom: 8px solid #fff;
}

a {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
}
.dark-light:checked ~ .sec-center .section-dropdown a {
  color: #102770;
}
a:hover {
  color: #102770;
  background-color: #ffeba7;
}
.dark-light:checked ~ .sec-center .section-dropdown a:hover {
  color: #ffeba7;
  background-color: #102770;
}
a .uil {
  font-size: 22px;
}
.dropdown-sub:checked + label,
.dropdown-sub:not(:checked) + label{
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
    cursor: pointer;
}
.dropdown-sub:checked + label .uil,
.dropdown-sub:not(:checked) + label .uil{
  font-size: 22px;
}
.dropdown-sub:not(:checked) + label .uil {
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label .uil {
  transform: rotate(135deg);
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label:hover,
.dropdown-sub:not(:checked) + label:hover{
  color: #102770;
  background-color: #ffeba7;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub{
  color: #102770;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub:hover{
  color: #ffeba7;
  background-color: #102770;
}

.section-dropdown-sub {
  position: relative;
  display: block;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  padding-left: 10px;
  padding-right: 3px;
  overflow: hidden;
  transition: all 200ms linear;
}
.dropdown-sub:checked ~ .section-dropdown-sub{
  pointer-events: auto;
  opacity: 1;
  max-height: 999px;
}
.section-dropdown-sub a {
  font-size: 14px;
}
.section-dropdown-sub a .uil {
  font-size: 20px;
}
.logo {
	position: fixed;
	top: 50px;
	left: 40px;
	display: block;
	z-index: 11000000;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
	transition: all 250ms linear;
}
.logo:hover {
  background-color: transparent;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  transition: all 200ms linear;
}
.dark-light:checked ~ .logo img{
  filter: brightness(10%);
}

@media screen and (max-width: 991px) {
.logo {
	top: 30px;
	left: 20px;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  top: 20px;
  right: 20px;
}
}