<section class="background vh-100">
  
    <div class="container py-5 h-100">
      <h1 class="title"> Forfaits possedé</h1>
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-4" *ngFor="let item of ForfaitUser.userForfaits">
            <div class="card mt-4" style="width: 18rem;" >
        <img src="https://img.freepik.com/free-vector/abstract-colourful-background-kaleidoscope-effect_23-2148460308.jpg?w=2000" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.forfaitLibelle}}</h5>
          <p class="card-text">Value: {{item.forfaitValue}}</p>
          <p class="card-text">Reduction: {{item.reduction}}</p>
          <div class="d-flex justify-content-around ">
            <a routerLink="/Public/forfait/{{CurrentUser$}}" class="btn mx-2"><fa-icon class="px-2" [icon]="faEye"></fa-icon>other Packages</a>
            <a *ngIf="item.idForfait!=1" (click)="resiliate(item.idForfait,item.roleId)" class="btn mx-2"><fa-icon class="px-2" [icon]="faStop"></fa-icon>Resiliate</a>
          </div>

        </div>
          </div>      
      </div>
        </div>
        </div>
    </section>