<section class="vh-100 background">
    <div class="container py-5">
        <div class="row text-center text-white mb-5">
            <div class="col-lg-7 mx-auto">
                <h1 class="display-4">Your Bucket</h1>
            </div>
        </div>
        <div class="row">
            <div class="bg-info font-weight-bold text-muted d-flex justify-content-center" *ngIf="Facades.length==0">
                <span>
                    <h1>
                        No Item
                    </h1>
                </span>
            </div>
            <div class="col-lg-8 mx-auto" *ngIf="Facades.length>0">
                <!-- List group-->
                <ul class="list-group shadow">
                    <!-- list group item-->
                    <li *ngFor="let item of Facades;let i = index" class="list-group-item card-bg my-2" >
                        <!-- Custom content-->
                        <div class=" d-flex flex-row py-4 justify-content-between">
                            <div class="d-flex flex-column w-100 m-3 overflow-hidden">
                            <div class=" text-left d-flex  flex-column ">
                                <h2 class="mt-0 font-weight-bold mb-2">{{(item|async)?.nameStory}}</h2>
                                <p class="font-italic font-weight-bold text-muted mb-0 ">{{(item|async)?.sypnopsis}}</p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h5 class="font-weight-bold my-2">{{(item|async)?.price}} <fa-icon  [icon]="faEuro"></fa-icon></h5>
                                </div>
                            </div>
                            </div>
                  
                            <div>
                            <img src="{{(item|async)?.url}}" alt="Generic placeholder image" width="150" class="border border-secondary rounded ml-lg-5 order-1 order-lg-2">
                            <h5 class="font-weight-bold my-2 text-muted">Written by {{(item|async)?.author?.username}}</h5>    
                        </div>
                        </div> <!-- End -->

                        <div class="d-flex justify-content-between">
                            <div class="button"> {{(Tags[i]|async)?.nameTag}}</div>
                            <div class="btn btn-danger" *ngIf="(item|async)?.idStoryTelling as id" (click)="deleteItem(id)">     
                                <fa-icon  [icon]="faXmark"></fa-icon>
                                  </div>
                              </div>
                    </li> <!-- End -->
                </ul> <!-- End -->
            </div>
        </div>
        <div class="d-flex justify-content-end" *ngIf="Facades.length>0">
            <button class="valid" (click)="commit(Facades)">
                <span>Buy</span>
              </button>
        </div>
    </div>
</section>
<mat-paginator #paginator [length]="Items.totalCount"
[pageSize]="3"
aria-label="Select page"
(page)="handleCommentaryPageEvent($event)">
</mat-paginator>



















<!-- <section class="vh-100 background">
<div class="container d-flex py-5 ">
    <div class="box-1 bg-light user">
        <div class="d-flex align-items-center mb-3">
            <img src="../../../../assets/images/abstract-user-flat-4.png"
                class="pic rounded-circle" alt="">
            <p class="ps-2 name">{{Facade.author.username}}</p>
        </div>
        <div class="box-inner-1 pb-3 mb-3 ">
            <div class="d-flex justify-content-between mb-3 userdetails">
                <p class="fw-bold">{{Facade.nameStory}}</p>
            </div>
            <div id="my" class="carousel slide carousel-fade img-details" data-bs-ride="carousel"
                data-bs-interval="2000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{Facade.url}}"
                            class="d-block w-100">
                    </div>

</div>

</div>
<p class="dis info my-3">{{Facade.sypnopsis}}
</p>
</div>
</div>


<div class="box-2">
<div class="box-inner-2">
<div>
    <p class="fw-bold">Payment Details</p>
    <p class="dis mb-3">Complete your purchase by providing your payment details</p>
</div>

    <div class="mb-3">
        <p class="dis fw-bold mb-2">Email address</p>
        <input disabled class="" type="email" [value]="User.email">
    </div>
    <div>
        <div class="my-3 cardname">
            <p class="dis fw-bold mb-2">Buyer name</p>
            <input disabled class="" type="text" [value]="User.username">
        </div>
        <div class="address">
            <p class="dis fw-bold mb-2">Region</p>
                <input disabled type="text" [value]="User.location">

            <div class="d-flex flex-column dis py-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <p class="fw-bold">Total</p>
                    <p class="fw-bold"><span ></span>{{Facade.price}}</p>
                </div>
                <div (click)="commit()" class="btn btn-primary mt-2">Pay
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
</section> -->