.background{
  overflow: hidden;
    background: rgb(255,64,0);
    background: linear-gradient(205deg, rgba(255,64,0,0.9079832616640406) 15%, rgba(125,43,223,0.8883754185267857) 42%, rgba(255,52,110,0.9696079115239846) 86%);
}

.list-group {box-shadow: 0px 11px 23px 5px rgba(0,0,0,0.34);}

.list-group-item {background-color: rgba(255,255,255,0.7); border:0;/* opacity: 0.7;*/}


img {
  float:left; 
  margin-right:15px;
  height: 128px;
  width: 128px;
}








/* ==== SOME BOOTSTRAP MODS/STYLING ==== */
.btn-default {background-color: rgba(255,255,255,0.3); border-color:rgba(0,0,0,0.2);}
.img-rounded, .btn, .label {border-radius: 6px;}
.btn {padding: 6px 18px;}
.dropdown-menu>li>a {color:#777;}
.dropdown-menu {
  background-color:rgba(0,0,0,0.8);
  .divider {background-color: #555;}
}


.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 3px solid #f09;
  border-radius: 2em;
  color:#f09;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  justify-content: center;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

//BUTTON 3
.third {
border-color:#23bdb8;
color: #fff;
box-shadow: 0 0 40px 40px #53bda6 inset, 0 0 0 0 #429e9b;
transition: all 150ms ease-in-out;

&:hover {
  border-radius: 1.5em;
  box-shadow: 0 0 10px 0 #32fd97 inset, 0 0 10px 4px #168a86;
}
}