<section class="background vh-100">
    <div class="container py-5">
      <div class="" *ngIf="result$!=null">
        <a  class="btn third" routerLink="../../Chapitre-creation/{{ParamRoute$}}"> Create</a>
      </div>
        <ul class="list-group m-4" *ngFor="let item of Chapters;let i=index" >
          <li class="list-group-item clearfix m-1">
            <div class="d-flex flex-row mx-3">
            <div *ngIf="!lock!.isBought" class="d-flex flex-column justify-content-between mx-2 my-4">
            <span *ngIf="item.order>1" (click)="changeOrder(item.idStoryTelling ,item.idChapitre,item.order-1)"><fa-icon class="text-primary" [icon]="faArrowUp"></fa-icon></span>
            <span *ngIf="item.order<Chapters.length" (click)="changeOrder(item.idStoryTelling ,item.idChapitre,item.order+1)"><fa-icon class=" text-primary" [icon]="faArrowDown"></fa-icon></span>
            </div>
            <div class="container d-flex">
              <div class="column" (click)="openDialog(item.idChapitre)"><img class="img-responsive img-rounded" src="{{(Images[i]|async)?.uri}}" alt=""/></div>
              <div class="w-100">
                <h3 class="list-group-item-heading">
                  {{(Narrations[i]|async)!.nomStory}}
                    <span *ngIf="(Narrations[i]|async)!.dateCreation" class="label pull-right"> crée le {{common.timeFormat((Narrations[i]|async)!.dateCreation)}}</span>
                    <!-- <span *ngIf="item.story.dateModif" class="label pull-right"> modifié le {{item.story.dateModif}}</span>  -->
                </h3>
                <p class="list-group-item-text lead">
                  {{(Narrations[i]|async)!.textStory.substring(0,30)}}...
                  <br />
                </p>

                  <div *ngIf="!lock!.isBought" class="d-flex justify-content-end">
                    <a routerLink="../../Chapitre-view/{{item.idChapitre}}" title="View" class=" px-2"><fa-icon class=" " [icon]="faEye"></fa-icon></a> 
                    <a (click)="deleteChapitre(item.idChapitre)" title="Delete" class="px-2"><fa-icon class="text-danger " [icon]="faTrash"></fa-icon></a>
                </div>
              </div>
            </div>
          </div>
          </li>
       
        </ul>
      </div>
</section>

<mat-paginator #paginator [length]="(result$|async)?.totalCount"
[pageSize]="4"
aria-label="Select page"
(page)="handlePageEvent($event)">
</mat-paginator>